.venv/
env/
venv/


data/raw/*
data/processed/*
data/scaler/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/scaler/.gitkeep


models/*.pth
models/*.pkl
*.h5


__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

